/* Serie A */

  #bg-seriea{
  background-image: url('https://api.sofascore.app/api/v1/unique-tournament/23/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-napoli{
  background-image: url('https://api.sofascore.app/api/v1/team/2714/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-roma{
  background-image: url('https://api.sofascore.app/api/v1/team/2702/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-milan{
  background-image: url('https://api.sofascore.app/api/v1/team/2692/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-inter{
  background-image: url('https://api.sofascore.app/api/v1/team/2697/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-juventus{
  background-image: url('https://api.sofascore.app/api/v1/team/2687/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-lazio{
  background-image: url('https://api.sofascore.app/api/v1/team/2699/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-fiorentina{
  background-image: url('https://api.sofascore.app/api/v1/team/2693/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-atalanta{
  background-image: url('https://api.sofascore.app/api/v1/team/2686/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-sassuolo{
  background-image: url('https://api.sofascore.app/api/v1/team/2793/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-verona{
  background-image: url('https://api.sofascore.app/api/v1/team/2701/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-torino{
  background-image: url('https://api.sofascore.app/api/v1/team/2696/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-udinese{
  background-image: url('https://api.sofascore.app/api/v1/team/2695/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-bologna{
  background-image: url('https://api.sofascore.app/api/v1/team/2685/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-empoli{
  background-image: url('https://api.sofascore.app/api/v1/team/2705/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-spezia{
  background-image: url('https://api.sofascore.app/api/v1/team/2735/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-sampdoria{
  background-image: url('https://api.sofascore.app/api/v1/team/2711/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-cagliari{
  background-image: url('https://api.sofascore.app/api/v1/team/2719/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-genoa{
  background-image: url('https://api.sofascore.app/api/v1/team/2688/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-venezia{
  background-image: url('https://api.sofascore.app/api/v1/team/1713/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  #bg-salernitana{
  background-image: url('https://api.sofascore.app/api/v1/team/2710/image') ;
  height: auto; width: 100%;              
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
